:root {
  /* Text Colors */
  --color-text-primary: #F4CE14;
  --color-text-secondary: #E0E0E0;
  --color-text-tertiary: #504f4f;
  --color-text-muted: #AAAAAA;
  --color-text-inverse: #FFFFFF;

  /* Button Colors */
  --color-button-primary: #323335;
  --color-button-primary-hover: #2859ca;

  /* Background Colors */
  --color-bg-dark: #222831;

  /* Border or Other Colors */
  --color-border: #000000;
  --color-border-bg: #F4CE14;
}

$max-width: 1200px;